/* pink FFD1F8 */
/* teal 66EBBF */
/* sky blue C1FBFF */
/* hot pink FF3988 */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Gudea', sans-serif;
}

.outer {
	width: 1024px;
	margin: 0 auto;
	display: block !important;
}

.roundy {
	border: 2px solid;
	border-color: #FF3988;
	border-radius: 12px;
	display: inline-block;
	padding: 20px;
}

.pic-with-caption {
	display: block;
	width: 480px;
	float: left;
}

.space-on-right {
	margin-right: 20px;
}

h1 {
	color: #FFD1F8;
	background-color: #66EBBF;
	font-size: 4em;
	padding: 15px;
	margin: 0px;
	margin-bottom: 20px;
	display: block;
	font-weight: bold;
}

img {
	margin: 15px auto;
	max-width: 430px;
	display: block;
}

.clearfix {
  clear: both;
}

.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}